.head {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container.header {
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
    
}

.navigation {
    display: flex;
    align-items: center;
}

.link {
    text-decoration: none;
}

.list {
    display: flex;
    list-style: none;
}

img {
    display: block;
}

.list.nav {
    gap: 40px;
}

.list.add {
    gap: 40px;
}

.webstudio {
    font-family: 'Raleway', sans-serif;
    color: #4d5ae5;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.studio {
    color: #2E2F42;
}

.link.text-nav {
    font-family: 'Roboto', sans-serif;
    color: #404bbf;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link.text-nav::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px; 
}

.text-add {
    color: #434455;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.selection.first {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-color: #2e2f42;
    padding: 188px 0;
    max-width: 1440px;
    background: linear-gradient(to bottom, rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(/images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container.second {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0, auto;
    margin: 188px 472px;
}

.had {
    color: #FFF;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;
    max-width: 496px;
}

.mainbutton {
    display: block;
    align-items: flex-start;
    padding: 16px 32px;
    height: 56px;
    min-width: 169px;
    border: none;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.64px;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    
}

.selection.second {
    padding: 120px 0;
    margin: 0;
}

.container.third {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list.first {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin:  0;
    padding: 0;
}

.text {
    width: calc((100% - 72px) / 4);
    margin: 0;
}

.svgicon {
    min-width: 264px;
    min-height: 112px;
    border-radius: 4px;
    background: #F4F4FD;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.margin {
    color: #2E2F42;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    margin: 0;
    width: 264px;
    text-align: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.yes {
    color: #434455;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    width: 264px;
    margin: 0;
}

.selection.third {
    padding-bottom: 120px;
    margin: 0;
}

.noo {
    color: #2E2F42;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin: 0;
    margin-bottom: 72px;
}

.list.photo {
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 24px;
}

.selection.fourth {
    padding: 120px 0;
    display: flex;
    margin: 0;
    justify-content: center;
    background-color: #F4F4FD;
}

.list.team {
    display: flex;
    align-items: center;
    gap: 24px;
    margin: 0;
    padding: 0;
    
}

.text.team {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc((100% - 72px) / 4);
    background-color: #FFFFFF;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.teaam {
    padding: 32px 0;
}

.yes.team {
    text-align: center;
    margin: 8px 0;
}

.container.svgcontainer {
    display: flex;
}

.list.svglist {
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 0;
}

.teamlist {
    width: 40px;
    height: 40px;
}

.link.socialsvg {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #4d5ae5;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link.socialsvg:hover,
.link.socialsvg:focus {
    background-color: #404bbf;
}

.icon {
    display: flex;
    width: 16px;
    height: 16px;
    fill: #f4f4fd;
    
}

.navsvg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.list.svglink {
    display: flex;
}

.selection.fifth {
    padding: 120px 0;
}

.container.customers {
    padding: 0 15px;
}

.svgcustomers {
    font-size: 36px;
    line-height: 1.11;
    color: #2e2f42;
    text-align: center;
    margin: 0;
    margin-bottom: 72px;
}

.list.customerssvg {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 0;
    margin: 0;
}

.boba {
    display: flex;
    width: calc((100% - 120px) / 6);
    height: 88px;
}

.clients {
    display: flex;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    width: 100%;
    height: 100%;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    color: #8e8f99;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients:hover,
.clients:focus {
    border-color: #404bbf;
    color: #404bbf;
}


.curent {
    fill: currentColor;
}

.footer {
    margin: 0;
    background-color: #2E2F42;
    padding: 100px 0;
}

.container.sixth {
    display: flex;
    align-items: baseline;
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.logotype {
    margin-right: 120px;
}

.footer-webstudio {
    font-family: 'Raleway', sans-serif;
    color: #4d5ae5;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    width: 110px;
}

.footer-studio {
    color: #F4F4FD;
}

.footer-text {
    color: #F4F4FD;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    width: 264px;
    margin: 0;
    margin-top: 16px;
}

.socialtext {
    color:  #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    margin: 0;
    margin-bottom: 16px;
}

.list.footersvg {
    padding: 0;
    margin: 0;
    gap: 16px;
}

.icons {
    width: 40px;
    height: 40px;
}

.link.socialsvg:hover,
.link.socialsvg:focus {
    background-color: #31d0aa;
}

.icon-footer {
    display: flex;
    width: 24px;
    height: 24px;
    fill: #f4f4fd;
}

.list.buttons {
    gap: 24px;
    justify-content: center;
    margin: 0;
    padding: 0;
    margin-top: 96px;
    margin-bottom: 72px;
}

.buttones {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #E7E9FC;
    background-color: #F4F4FD;
    cursor: pointer;
    color: #4D5AE5;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttones:hover {
    background: #404BBF;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    color: #FFF;
    border: 1px solid transparent;
}

.buttones:focus {
    background: #404BBF;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    color: #FFF;
    border: 1px solid transparent;
}

.list.row {
    display: flex;
    flex-wrap: wrap;
    column-count: 3;
    column-gap: 24px;
    row-gap: 48px;
    margin-bottom: 120px;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--cornflower, #E7E9FC);
    background: var(--white, #FFF);
}

.container.colum {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolioh {
    margin: 0;
    color: #2E2F42;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}

.portfoliop {
    margin: 0;
    color: #434455;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.portfolioa {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container.over {
    position: relative;
    overflow: hidden;
}

.portfolioa:hover,
.portfolioa:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.text-over {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolioa:focus .portfolioa,
.portfolioa:hover .portfolioa {
    transform: translateY(0%);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
    background-color: #404bbf;
    border: none;
    fill: #FFFFFF;
}

.icon-modal {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}