.head {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container.header {
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
    
}

.navigation {
    display: flex;
    align-items: center;
}

.link {
    text-decoration: none;
}

.list {
    display: flex;
    list-style: none;
}

img {
    display: block;
}

.list.nav {
    gap: 40px;
}

.list.add {
    gap: 40px;
}

.webstudio {
    font-family: 'Raleway', sans-serif;
    color: #4d5ae5;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.studio {
    color: #2E2F42;
}

.text-nav {
    font-family: 'Roboto', sans-serif;
    color: #404bbf;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-nav::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px; 
}

.text-add {
    color: #434455;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.selection.first {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-color: #2e2f42;
    padding: 188px 0;
    background: linear-gradient(to bottom, rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(/images/people-office.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container.second {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0, auto;
    margin: 188px 472px;
}

.had {
    color: #FFF;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;
    max-width: 496px;
}

.mainbutton {
    display: block;
    align-items: flex-start;
    padding: 16px 32px;
    height: 56px;
    min-width: 169px;
    border: none;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.64px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.selection.second {
    padding: 120px 0;
    margin: 0;
}

.container.third {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list.first {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin:  0;
    padding: 0;
}

.text {
    width: calc((100% - 72px) / 4);
    margin: 0;
}

.svgicon {
    min-width: 264px;
    min-height: 112px;
    border-radius: 4px;
    background: #F4F4FD;
    display: flex;
    justify-content: center;
    align-items: center;
}

.margin {
    color: #2E2F42;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    margin: 0;
    width: 264px;
    text-align: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.yes {
    color: #434455;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    width: 264px;
    margin: 0;
}

.selection.third {
    padding-bottom: 120px;
    margin: 0;
}

.noo {
    color: #2E2F42;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin: 0;
    margin-bottom: 72px;
}

.list.photo {
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 24px;
}

.selection.fourth {
    padding: 120px 0;
    display: flex;
    margin: 0;
    justify-content: center;
    background-color: #F4F4FD;
}

.list.team {
    display: flex;
    align-items: center;
    gap: 24px;
    margin: 0;
    padding: 0;
    
}

.text.team {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc((100% - 72px) / 4);
    background-color: #FFFFFF;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.teaam {
    padding: 32px 0;
}

.yes.team {
    text-align: center;
    margin: 8px 0;
}

.container.svgcontainer {
    display: flex;
}

.list.svglist {
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 0;
}

.link.socialsvg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    cursor: pointer;
}

.link.socialsvg:hover {
    background-color: #31d0aa;
}

.icon {
    display: flex;
    width: 16px;
    height: 16px;
    fill: #f4f4fd;
    
}

.navsvg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.list.svglink {
    display: flex;
}

.selection.fifth {
    padding: 120px 120px;
}

.list.customerssvg {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.custoners {
    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE, #8E8F99);
    width: 168px;
    height: 88px;
    cursor: pointer;
}

.footer {
    margin: 0;
    background-color: #2E2F42;
    padding: 100px 0;
}

.container.sixth {
    display: flex;
    align-items: baseline;
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.logotype {
    margin-right: 120px;
}

.footer-webstudio {
    font-family: 'Raleway', sans-serif;
    color: #4d5ae5;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    width: 110px;
}

.footer-studio {
    color: #F4F4FD;
}

.footer-text {
    color: #F4F4FD;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    width: 264px;
    margin: 0;
    margin-top: 16px;
}

.socialtext {
    color:  #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    margin: 0;
    margin-bottom: 16px;
}

.list.footersvg {
    padding: 0;
    margin: 0;
    gap: 16px;
}

.icon-footer {
    display: flex;
    width: 24px;
    height: 24px;
    fill: #f4f4fd;
}

.list.buttons {
    gap: 24px;
    justify-content: center;
    margin: 0;
    padding: 0;
    margin-top: 96px;
}

.buttones {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #E7E9FC;
    background-color: #F4F4FD;
    cursor: pointer;
    color: #4D5AE5;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
}

.buttones:hover {
    background: #404BBF;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    color: #FFF;
}

.buttones:focus {
    background: #404BBF;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    color: #FFF;
}

.list.row {
    display: flex;
    flex-wrap: wrap;
    column-count: 3;
    column-gap: 24px;
    row-gap: 48px;
    margin-top: 72px;
    margin-bottom: 120px;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--cornflower, #E7E9FC);
    background: var(--white, #FFF);
}

.container.colum {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolioh {
    margin: 0;
    color: #2E2F42;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}

.portfoliop {
    margin: 0;
    color: #434455;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}